<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3630203611-vsisn2n724pb31l3m54qrpghd3dalqnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3630203611-vsisn2n724pb31l3m54qrpghd3dalqnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAchf8pT2KWQ3OzXderqJZsRJoro3dyT1g</string>
	<key>GCM_SENDER_ID</key>
	<string>3630203611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beda3aapp.flutter.io.beda3aapp</string>
	<key>PROJECT_ID</key>
	<string>beda3a-7e1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>beda3a-7e1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3630203611:ios:7cb3bdd14e38e7cae202fe</string>
	<key>DATABASE_URL</key>
	<string>https://beda3a-7e1fb.firebaseio.com</string>
</dict>
</plist>